@font-face {
  font-family: "Qebab-Shadow";
  src: get-font("qebab-shadow/quebab-shadow-ffp-webfont.woff2") format("woff2"),
    get-font("qebab-shadow/quebab-shadow-ffp-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
