// -----------------------------------------------------------------------------
// This file contains dividers.
// -----------------------------------------------------------------------------

/**
 * Horizontal divider.
 */
.divider {
  width: 100%;
  border-top: none;
  border-color: $divider-color;
  box-shadow: none;
  margin-bottom: 2rem;
}
