@use "../../../assets/styles/mixins" as mixins;

.portfolio {
  width: 100%;
  max-width: 1200px;
  height: 100vh;
  padding: 0 4rem;
  background-color: var(--color-snow);

  @include mixins.xs {
    padding: 0 2rem;
  }

  h2 {
    margin-bottom: 1.2rem;
    color: var(--color-black);
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;

    @include mixins.sm-lt {
      font-size: 1.8rem;
    }

    @include mixins.xs {
      font-size: 1.7rem;
    }
  }

  p {
    margin-bottom: 1.5rem;
    line-height: 2.2rem;

    @include mixins.lg {
      font-size: 1.5rem;
    }

    @include mixins.md {
      font-size: 1.4rem;
    }

    @include mixins.sm-lt {
      font-size: 1.3rem;
      line-height: 2rem;
    }
  }
}
