// -----------------------------------------------------------------------------
// This file contains the style of the Portfolio page.
// -----------------------------------------------------------------------------

/**
 * Portfolio page. 
 */
.portfolio {
  @include page;

  // Presentation section.
  .presentation {
    width: 100%;
    height: 15rem;
    display: flex;
    flex-direction: row;
    position: relative;
    background-color: inherit;
    padding: 1.5rem 0;

    @include sm {
      height: 13rem;
    }

    @include xs {
      height: 12rem;
    }

    .profile-picture {
      --profile-size: 14rem;
      --profile-coef: 0.35;
      min-width: var(--profile-size);
      min-height: var(--profile-size);
      width: var(--profile-size);
      height: var(--profile-size);
      margin-right: 1.5rem;
      position: relative;
      top: calc(-1 * calc(var(--profile-size) * var(--profile-coef)));
      left: 0;
      padding: 4px;
      border-radius: 100%;
      background-color: $color-snow;
      box-shadow: $box-shadow-profile;

      @include sm {
        --profile-size: 12rem;
        --profile-coef: 0.37;
      }

      @include xs {
        --profile-size: 10rem;
        --profile-coef: 0.4;
      }

      &__image {
        width: 100%;
        height: 100%;
        border-radius: 100%;
        background: get-image("profile.jpg") center center/cover;
      }
    }
  }

  // About section.
  .about {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    @include sm-lt {
      flex-direction: column;
    }

    &__infos {
      margin-left: 4rem;
      margin-bottom: 2rem;
      display: flex;
      flex-direction: column;

      @include sm {
        width: 100%;
        margin: 2rem 0 0 0;
        flex-direction: row;
        justify-content: space-between;
      }

      @include xs {
        margin: 2rem 0;
      }

      .info-card {
        @include sm-lt {
          flex: 1 1 auto;
          padding-right: 2rem;
        }

        &:last-child {
          margin-bottom: 0;

          @include sm-lt {
            padding-right: 0;
          }
        }

        .france-flag {
          $flag-size: 1.5rem;
          width: $flag-size;
          height: $flag-size;
          margin-right: 0.5rem;
          display: inline-block;
          background: get-image("france-flag.svg") center center/cover;
          border-radius: 100%;
        }

        .link {
          i {
            margin-left: 0.5rem;
            transform: rotate(45deg);
          }
        }

        .social-networks {
          li {
            margin-right: 1.5rem;
          }
        }
      }
    }
  }

  // Skills section.
  .skills {
    .skill-list {
      --skillsPerRow: 1;
      display: grid;
      grid-template-columns: repeat(var(--skillsPerRow), 1fr);
      gap: 1rem 2rem;
      margin-bottom: 2.5rem;

      $responsive: (
        xs: (
          --skillsPerRow: 1,
        ),
        sm: (
          --skillsPerRow: 2,
        ),
        md: (
          --skillsPerRow: 3,
        ),
        lg: (
          --skillsPerRow: 4,
        ),
        xl: (
          --skillsPerRow: 5,
        ),
      );

      @include media-queries-rules($responsive);
    }
  }
}
