// -----------------------------------------------------------------------------
// This file contains the header of the website.
// -----------------------------------------------------------------------------

@use "sass:color";

/** 
 * Header.
 */
.header {
  width: 100%;
  height: 12rem;
  background: $primary;
  background: linear-gradient(
    160deg,
    $primary 0%,
    color.scale(
        color.scale($primary, $green: +15%, $blue: +20%),
        $lightness: 10%
      )
      100%
  );
}
