:root {
  --color-white: #ffffff;
  --color-snow: #f5f4f9;
  --color-black: #222f3e;

  --text-color: #576574;
  --divider-color: #bbb;
  --primary: rgb(255, 10, 60);

  --box-shadow-profile: 0px 3px 8px rgba(0, 0, 0, 0.24);
  --box-shadow-divider: 0px 0px 1px #7c818d;

  --font-family: "Montserrat", sans-serif;
}
